
/* 1. Remove default margin, padding, and use border-box */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Smooth scrolling */
html {
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape */
}

@font-face {
  font-family: "redhat";
  src: url(../assets/fonts/RedHatText-VariableFont_wght.ttf);
}

/* 3. Root font sizing (easy rems: 1rem = 10px) */
:root {
  font-size: 62.5%;
  --font-main: "redhat", sans-serif;
  --color-red: hsl(14, 86%, 42%);
  --color-green: hsl(159, 69%, 38%);
  --color-text-primary: hsl(14, 65%, 9%);
  --color-text-secondary: rgb(173, 137, 133);
}

/* 4. Body defaults */
body {
  font-family: var(--font-main);
  font-size: 1.6rem; /* =16px */
  background: hsl(13, 31%, 94%);
  padding: 100px;

  /* line-height: 1.5;
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

/* 5. Remove list styles */
ul,
ol {
  list-style: none;
}

/* 6. Links inherit color, no underline */
a {
  text-decoration: none;
  color: inherit;
}

/* 7. Images scale nicely */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

/* 8. Form elements inherit fonts */
input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
  color: inherit;
  outline: none;
}

/* 9. Buttons clickable */
button {
  cursor: pointer;
}

/* 10. Accessibility: focus states */
/* :focus {
  outline: 2px solid var(--color-primary);
  outline-offset: 2px;
} */

/* 11. Container helper */
/* .container {
  width: min(1200px, 90%);
  margin: 0 auto;
} */
